<!DOCTYPE html>
<html>
<head>
  <title>OpenResty China 社区 &raquo; 关于</title>
  {(meta.html)}
</head>
<body data-controller-name="sessions">
{(header.html)}

<div id="main" class="main-container container">
    <div class="row" style="margin-top:30px;">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">关于</div>
                <div class="panel-body">
                   <div class="panel-body markdown">
                        <article>
                            <h2 id="这里是 Ruby 中文社区">这里是 OpenResty 中文社区</h2>
                            <ul>
                                <li>分享OpenResty相关技术<br></li>
                                <li>欢迎原创文章，也欢迎各种技术交流</li>
                                <li>本站基于<a href="https://github.com/sumory/lor">Lor Framework</a>构建，Lor是一个基于OpenResty的开发框架</li>
                            </ul>

                            <p>OpenResty相对于其它语言或是平台来说，它的社区规模还较小，不过已在高速发展中。本社区致力于推广和普及OpenResty相关技术，并提供给开发者一个好用的技术交流平台。 </p>

                        </article>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        APP.Common.resetNav("nav-about");
    });
</script>
{(footer.html)}
</body>
</html>
