<!DOCTYPE html>
<html>
<head>
  <title>OpenResty China 社区 &raquo; 错误</title>
  {(meta.html)}
</head>
<body data-controller-name="sessions">
{(header.html)}

<div id="main" class="main-container container">
    <div class="row" style="margin-top:30px;">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">错误</div>
                <div class="panel-body">
                   <div class="panel-body markdown">
                        {{errMsg}}
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        
    });
</script>
{(footer.html)}
</body>
</html>
