<footer class="footer" id="footer">
    <div class="container">
        <div class="media">
     
            <div class="media-body">
                <div class="links"> <a href="/about">关于</a> / <a href="http://github.com/sumory/openresty-china" target="_blank" rel="nofollow" title="本站在 GitHub 上面的开源内容">GitHub</a>
 
                </div>
                <div class="copyright">中国 OpenResty 社区，由众多爱好者共同维护，致力于构建完善的 OpenResty 中文社区</div>
            </div>
            <div class="media-right" style="width:200px; text-align:right;">
                
            </div>
        </div>
    </div>
</footer>

{%
    if locals and locals.login and locals.login == true then
%}
<script type="text/javascript">
    APP.Common.findUnreadMsg();
</script>
{% end %}