<meta charset='utf-8' />
<meta name="keywords" content="OpenResty China社区" />
<meta name="description" content="" />
<meta name="apple-mobile-web-app-capable" content="no">
<meta content='True' name='HandheldFriendly' />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

<link rel="stylesheet" media="screen" href="/static/css/bootstrap.min.css"/>
<link rel="stylesheet" media="screen" href="/static/css/font-awesome.min.css"/>
<link rel="stylesheet" media="screen" href="/static/libs/highlight/default.css"/>
<link rel="stylesheet" media="screen" href="/static/libs/emojify/css/basic/emojify.min.css" />
<link rel="stylesheet" media="screen" href="/static/libs/jquery/jquery.atwho.css"/>
<link rel="stylesheet" media="screen" href="/static/css/dialog.min.css"/>

<link rel="stylesheet" media="screen" href="/static/css/application.css"/>
<link rel="stylesheet" media="screen" href="/static/css/users.css"/>
<link rel="stylesheet" media="screen" href="/static/css/pagebar.css"/>

<link rel="stylesheet" media="screen" href="/static/css/app.css"/>




<script src="/static/js/jquery-2.2.1.min.js"></script>
<script src="/static/js/bootstrap-3.3.2.min.js"></script>
<script src="/static/js/MD5.min.js"></script>

<script src="/static/js/dialog-min.js"></script>
<script src="/static/js/juicer.js"></script>
<script src="/static/js/moment-2.10.6.js"></script>
<script src="/static/js/jquery.pagebar.js"></script>
<script src="/static/libs/highlight/highlight.9.1.0.js"></script>
<script src="/static/libs/markdown/markdown-it.min.js"></script>
<script src="/static/libs/emojify/js/emojify.min.js"></script>
<script src="/static/libs/jquery/jquery.caret.min.js"></script>
<script src="/static/libs/jquery/jquery.atwho.js"></script>
<script type="text/javascript">
	var APP = {
		pwd_secret:"0bfe35421edab14541ec9ee17ccba443"
	};
</script>
<script src="/static/js/app.js"></script>
<script type="text/javascript">
	APP.Common.init();
</script>

